CREATE TABLE [dbo].[EventsFlat](
	[AccountCode] [varchar](100) NULL,
	[RequestType] [varchar](100) NULL,
	[VersionNumber] [varchar](1000) NULL,
	[UserAgent] [varchar](1000) NULL,
	[PageviewId] [varchar](100) NULL,
	[SessionId] [varchar](100) NULL,
	[VisitorId] [varchar](100) NULL,
	[GaUId] [varchar](100) NULL,
	[UTCDateTime] datetime,
	[ClientIP] [varchar](1000) NULL,
	[Ismobiledevice] [varchar](1000) NULL,
	[Url] [varchar](1000) NULL,
	[Category] [varchar](100) NULL,
	[Action] [varchar](100) NULL,
	[Label] [varchar](1000) NULL,
	[Value] [varchar](100) NULL,
)